:root {
  --primary-color: black;
  --primary-color-bg: white;
  --link-color: #0d91b7;
  --nav-height: 6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  letter-spacing: .12em;
  word-spacing: .16em;
}

html {
  scroll-padding-top: var(--nav-height);
}

body {
  font-family: 'Roboto Mono', monospace;
  min-height: 100%;
  max-width: 1440px;
  color: var(--primary-color);
  background-color: var(--primary-color-bg);
}

a {
  color: var(--primary-color);
  transition: .25s;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
}

a:hover {
  color: var(--link-color);
}

.inline {
  display: inline;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#site-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  padding: 16px 32px;
  background-color: var(--primary-color-bg);
}

.nav-link {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.no-deco {
  text-decoration: none;
}

.active {
  color: var(--link-color);
}

#site-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  cursor: default;
}

#nav-links {
  display: flex;
  gap: 32px;
}

main {
  padding-top: var(--nav-height);
}

section {
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.sect-title {
  margin-bottom: 2rem;
}

.sect-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  max-width: 100%;
}

#home {
  background-image: url('assets/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


#contact-text {
  align-items: center;
}

.links-wrap {
  display: flex;
  gap: 32px;
}

@media screen and (min-width: 48rem) {
  :root {
    --nav-height: 4em;
  }

  #site-nav {
    flex-direction: row;
  }

  .sect-text {
    width: 80%;
  }
}