:root {
  --primary-color: black;
  --primary-color-bg: white;
  --link-color: #47aac6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

html {
  scroll-padding-top: 4em;
}

body {
  font-family: 'Roboto Mono', monospace;
  min-height: 100%;
  color: var(--primary-color);
  background-color: var(--primary-color-bg);
}

a {
  color: var(--primary-color);
  transition: .25s;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
}

a:hover {
  color: var(--link-color);
}

.inline {
  display: inline;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

#site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 0 2em;
  background-color: var(--primary-color-bg);
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2em;
}

.active {
  color: var(--link-color);
}

#site-title {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.8em;
}

#nav-links {
  display: flex;
  gap: 2em;
}

main {
  padding-top: 4em;
}

section {
  min-height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10em;
}

.sect-title {
  margin-bottom: 1.5em;
}

.sect-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#home {
  padding: 0 3em;
  flex-direction: row;
  gap: 6em;
}

#landing-img {
  height: calc((100vh - 4em)*.75);
}